---
import "@/styles/global.css";
import PageLayout from "@/layouts/page-layout.astro";
import PhotoGallery from "@/components/photo-gallery";

---

<PageLayout
  title="Faculty of Department of Electronics and Communication Engineering | GEC PKD"
>
  <div class="px-10">
    <PhotoGallery/>
  </div>
</PageLayout>
