---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
import Header from '@/sections/header.astro';
import {Separator} from "@/components/ui/separator"

---

<Layout title="Welcome to Astro.">
	<div class="bg-white min-h-screen pt-5 grid g-t">		
		<Header />
	
	</div>
</Layout>

