---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Header from "@/sections/header.astro";
import { Separator } from "@/components/ui/separator";
import Section from "@/sections/section.astro";
import { cn } from "@/lib/utils";
import { StackedEventCarousel } from "@/components/carousel";
import Events from "@/sections/events.astro";

const normalAlignment = "col-start-2 col-end-[14]";
---

<script>
  const msgNode = document.querySelector(".msg-hod h3") as HTMLElement;
  const mediaQuery = window.matchMedia("(min-width: 768px)");

  function handleMediaQueryChange(e: MediaQueryListEvent | MediaQueryList) {
    if (e.matches) {
      msgNode.textContent = "Message from the Head of Department";
    } else {
      msgNode.textContent = "Message from the H.O.D";
    }
  }

  handleMediaQueryChange(mediaQuery);

  mediaQuery.addEventListener("change", handleMediaQueryChange);
</script>

<Layout title="Welcome to Astro.">
  <div class="bg-white min-h-screen pt-5 grid g-t space-y-2">
    <Header />
    <div class="h-[400px] w-full bg-gray-300 col-start-1 col-end-[-1]"></div>
    <Section title="About the Department" wrapperClass={normalAlignment}>
      <p class="leading-7 [&:not(:first-child)]:mt-6 font-medium">
        Department of Electronics and Communication Engineering offering B.Tech
        in Electronics and Communication Engineering. Later the programme has
        been affiliated to APJ Abdul Kalam Technological University since its
        inception from 2015 onwards. B.Tech programme is accredited by NBA.
      </p>
    </Section>
    <Section
      title="Message from the H.O.D"
      wrapperClass={cn(normalAlignment, "msg-hod")}
    >
      <div class="flex gap-4 flex-col md:flex-row">
        <div class="md:flex-shrink-0">
          <div class="w-full md:w-[450px] h-[250px] bg-gray-400"></div>
        </div>
        <blockquote class="flex-grow italic">
          <p class="leading-7 font-medium text-pretty">
            "The electronics and communication engineering department is one of
            the most prominent departments in the college. It is the first
            department of the college to offer a bachelor's degree in
            electronics and communication engineering. The department has been
            established in 1996 and has been affiliated to APJ Abdul Kalam
            Technological University since its inception from 2015 onwards.
            B.Tech programme is accredited by NBA.""
          </p>
          <p
            class="text-sm font-semibold text-gray-500 mt-2 text-start md:text-end"
          >
            -Prof. Anwar Hussain M
          </p>
        </blockquote>
      </div>
    </Section>
    <Section wrapperClass={cn(normalAlignment)} title="Mission">
      <blockquote class="italic">
        <p class="leading-7 font-medium text-pretty text-black text-lg">
          "To mould the youth as excellent engineers in Electronics and
          Communication for the betterment of the society"
        </p>
      </blockquote>
    </Section>
    <Section wrapperClass={cn(normalAlignment, "")} title="News">
      <p class="leading-7 [&:not(:first-child)]:mt-6 font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quia
      </p>
      <div class="mt-12">
        <StackedEventCarousel client:load />
      </div>
    </Section>
    <Section wrapperClass={cn(normalAlignment, "")} title="Events">
      <Events client:load />
    </Section>
  </div>
</Layout>
