---
import LogoImg from "@/assets/logo.png";
import { Image } from "astro:assets";
---

<div class="flex flex-col items-center justify-center bg-white">
  <Image src={LogoImg} alt="" width={80} height={80} />
</div>
