---
import { cn } from '@/lib/utils';


type Props = {
    title: string;
    titleClass?: string;
    wrapperClass?: string;
}

const { title, titleClass, wrapperClass} = Astro.props 
---

<section class={cn('space-y-2', wrapperClass)}>
    <h3 class={cn("scroll-m-20 text-2xl font-semibold tracking-tight before:content-[''] before:absolute before:w-[4px] before:h-[1.8ch] before:bg-cyanCustom before:-mt-2 before:left-0 before:top-[45%] before:bottom-0 relative px-2", titleClass)}>
        {title}
    </h3>
    <div class="ps-4">
        <slot />
    </div>
</section>
