---
import "@/styles/global.css";
import PageLayout from "@/layouts/page-layout.astro";
import Eventcard from "@/components/event-card";
---

<PageLayout
  title="Faculty of Department of Electronics and Communication Engineering | GEC PKD"
>
  <div class="px-10">
    <Eventcard />
  </div>
</PageLayout>
